* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	padding-top: 50px;
	background-color: #383838;
}

.navbar-fixed-top {
	border: 0;
}

.main {
	padding: 15px;
}

@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.table-responsive {
	border: 1px solid #ececec;
}

.navbar .container-fluid .navbar-brand {
	margin-left: 30px;
}

.navbar-brand>img {
	top: 0px;
	left: 0px;
	position: absolute;
	display: inline;
	width: 50px;
}

.nav .glyphicon-refresh {
	color: white;
	display: inline-block;
	font-size: 25px;
	top: 6px;
	margin-right: 15px;
	cursor: pointer;
}

.nav .glyphicon-refresh:hover {
	color: #00b8f1;
	transition: ease all 0.5s;
}

.nav .glyphicon-cloud {
	color: white;
	font-size: 25px;
	top: 6px;
	margin-right: 5px;
	cursor: pointer;
}

#weather {
	display: none;
}

#winkResult {
	display: inline-block;
}

.panel-default {
	border-color: #777;
}

.panel-default .panel-heading {
	background-color: #00b9f1;
	background-image: none;
	font-size: 16px;
	font-weight: bold;
	text-indent: -6px;
}

.dhtmlxslider_dhx_web .dhxsl_runner {
	background-color: #00B8F1;
	border: 1px solid #00b8f1;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	position: absolute;
	top: -13px !important;
}

.dhtmlxslider_dhx_web .dhxsl_container {
	float: none;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #edf9ff;
}

td[id*='Desc'] div {
	line-height: 40px;
}

th,td {
	padding: 5px;
}

title {
	padding-top: 5px;
}

img {
	vertical-align: middle;
}
